
#include "resource.h"
#include "crvskkserv.h"

#define APSTUDIO_READONLY_SYMBOLS
#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#include <commctrl.h>
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

VS_VERSION_INFO    VERSIONINFO
FILEVERSION        RC_VERSION_D
PRODUCTVERSION     RC_VERSION_D
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifndef _DEBUG
FILEFLAGS          0x00000000L
#else
FILEFLAGS          VS_FF_DEBUG
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000004B0"
		{
			VALUE "FileDescription", RC_PRODUCT
			VALUE "FileVersion", RC_VERSION
			VALUE "LegalCopyright", "© 2012 " RC_AUTHOR
			VALUE "ProductName", RC_PRODUCT
			VALUE "ProductVersion", RC_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0000, 1200
	}
}

IDI_CRVSKKSERV ICON "app.ico"

IDR_MENU MENU
{
	POPUP ""
	{
		MENUITEM "設定", IDM_CONFIG
		MENUITEM SEPARATOR
		MENUITEM "終了", IDM_EXIT
	}
}

IDD_DIALOG_CONFIG DIALOG 0, 0, 266, 196
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION RC_TITLE
FONT 10, "MS Gothic"
{
	GROUPBOX        "設定", IDC_STATIC, 4, 4, 258, 188

	LTEXT           "ポート", IDC_STATIC, 14, 20, 24, 8, SS_LEFT
	EDITTEXT        IDC_EDIT_SERV_PORT, 52, 18, 32, 12, ES_AUTOHSCROLL
	AUTOCHECKBOX    "ループバックのみ", IDC_CHECKBOX_SERV_LOOPBACK, 120, 20, 80, 8

	CONTROL         "", IDC_LIST_SKK_DIC, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | LVS_NOCOLUMNHEADER, 14, 35, 238, 88
	PUSHBUTTON      "↑", IDC_BUTTON_SKK_DIC_UP, 15, 130, 16, 14, BS_CENTER
	PUSHBUTTON      "↓", IDC_BUTTON_SKK_DIC_DOWN, 35, 130, 16, 14, BS_CENTER
	PUSHBUTTON      "ファイル追加", IDC_BUTTON_SKK_DIC_ADD, 60, 130, 80, 14, BS_CENTER
	PUSHBUTTON      "skkserv追加", IDC_BUTTON_SKKSERV_ADD, 60, 150, 80, 14, BS_CENTER
	PUSHBUTTON      "GoogleCGIAPI追加", IDC_BUTTON_GOOGLECGIAPI_ADD, 60, 170, 80, 14, BS_CENTER
	PUSHBUTTON      "削除", IDC_BUTTON_SKK_DIC_DEL, 210, 130, 40, 14, BS_CENTER

	PUSHBUTTON      "OK", IDOK, 160, 170, 40, 14
	PUSHBUTTON      "Cancel", IDCANCEL, 210, 170, 40, 14
}

IDD_DIALOG_SKKSRV DIALOG 0, 0, 266, 98
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "skkserv追加"
FONT 10, "MS Gothic"
{
	GROUPBOX        "skkserv", IDC_STATIC, 4, 4, 258, 62

	LTEXT           "ホスト", IDC_STATIC, 15, 20, 30, 8, SS_LEFT
	EDITTEXT        IDC_EDIT_SKKSRV_HOST, 50, 18, 200, 12, ES_AUTOHSCROLL
	LTEXT           "ポート", IDC_STATIC, 15, 35, 30, 8, SS_LEFT
	EDITTEXT        IDC_EDIT_SKKSRV_PORT, 50, 33, 30, 12, ES_AUTOHSCROLL
	LTEXT           "タイムアウト", IDC_STATIC, 130, 35, 50, 8, SS_LEFT
	EDITTEXT        IDC_EDIT_SKKSRV_TIMEOUT, 185, 33, 30, 12, ES_AUTOHSCROLL
	LTEXT           "(msec)", IDC_STATIC, 220, 35, 25, 8, SS_LEFT

	PUSHBUTTON      "OK", IDOK, 160, 75, 40, 14
	PUSHBUTTON      "Cancel", IDCANCEL, 210, 75, 40, 14
}

IDD_DIALOG_GOOGLECGIAPI DIALOG 0, 0, 266, 98
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "GoogleCGIAPI追加"
FONT 10, "MS Gothic"
{
	GROUPBOX        "Google CGI API for Japanese Input", IDC_STATIC, 4, 4, 258, 62

	LTEXT           "見出し語の検索除外条件", IDC_STATIC, 15, 20, 90, 8, SS_LEFT
	EDITTEXT        IDC_EDIT_GOOGLECGIAPI_FILTER, 110, 18, 135, 12, ES_AUTOHSCROLL
	LTEXT           "注釈", IDC_STATIC, 15, 35, 20, 8, SS_LEFT
	EDITTEXT        IDC_EDIT_GOOGLECGIAPI_ANNOTATION, 40, 33, 80, 12, ES_AUTOHSCROLL
	LTEXT           "タイムアウト", IDC_STATIC, 130, 35, 50, 8, SS_LEFT
	EDITTEXT        IDC_EDIT_GOOGLECGIAPI_TIMEOUT, 185, 33, 30, 12, ES_AUTOHSCROLL
	LTEXT           "(msec)", IDC_STATIC, 220, 35, 25, 8, SS_LEFT
	LTEXT           "クライアントの文字コード", IDC_STATIC, 15, 50, 120, 8, SS_LEFT
	AUTORADIOBUTTON "EUC-JIS-2004", IDC_RADIO_GOOGLECGIAPI_EUC, 140, 50, 60, 8
	AUTORADIOBUTTON "UTF-8", IDC_RADIO_GOOGLECGIAPI_UTF8, 210, 50, 32, 8

	PUSHBUTTON      "OK", IDOK, 160, 75, 40, 14
	PUSHBUTTON      "Cancel", IDCANCEL, 210, 75, 40, 14
}
